<template>

    <div class="article-view">
      <figure class="avatar image is-128x128">
        <img class="is-rounded" src="~/static/avatar.svg" />
      </figure>
      <div class="divider"><hr /></div>

      <div class="details has-text-centered is-size-3">{{ article.title }}</div>
      <div class="details has-text-centered">
        {{ article.author }} -
        {{ format(new Date(article.createdAt), 'MMMM dd, yyyy') }}
      </div>
      <nuxt-content :document="article" />
      <br>
      <nuxt-link class="btn-primary" to="/">
        <span>&#8592;</span>
        Back &nbsp;&nbsp;
      </nuxt-link>
    </div>

</template>
<script lang="ts">
import Vue from 'vue'
import { Prop } from 'nuxt-property-decorator'
import { format } from 'date-fns'
import { Component } from '~/node_modules/nuxt-property-decorator'
import { Article } from '~/lib/types'

@Component({
  methods: {
    format,
  },
})
export default class ArticleView extends Vue {
  @Prop()
  article: Article
}
</script>
<style lang="scss" scoped>
.article-view {
  display: flex;
  flex-direction: column;
  width: 100%;
  .avatar {
    margin: 0 auto;
  }
  .details {
    padding: 0.5rem 0;
  }
  .article-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .content {
      width: 70%;
      justify-content: center;
    }
  }
  .nuxt-content-container {
    width: 75%;
    margin: 0 auto;
    padding: 1rem;
  }
}
</style>
