<!--
  This is a display for a single article card when listing all articles on the the home page

  Properties:
  * article --- the Article to display.
-->
<template>
<!--  <div class="card column">-->
<!--    <div class="card-content columns">-->
<!--      <div class="column is-one-third has-text-centered article-summary">-->
<!--        <figure class="image is-centered is-128x128">-->
<!--          <img class="is-rounded" src="~/static/avatar.svg" />-->
<!--        </figure>-->
<!--        <div class="mt-5">{{ article.author }}</div>-->
<!--        <div class="mt-5">-->
<!--          {{ format(new Date(article.createdAt), 'MMMM dd, yyyy') }}-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="column">-->
<!--        <div class="has-text-centered">-->
<!--          <h2 class="is-size-3">{{ article.title }}</h2>-->
<!--        </div>-->
<!--        <div class="article-content">-->
<!--          <nuxt-content :document="{ body: article.excerpt }" />...-->
<!--        </div>-->
<!--        <div>-->
<!--          <ul>-->
<!--            <li-->
<!--              v-for="(tag, index) of article.tags"-->
<!--              :key="index"-->
<!--              class="button mr-3 is-rounded"-->
<!--            >-->
<!--              {{ tag }}-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="mt-5">-->
<!--          <a class="read-more is-text" :href="article.slug">-->
<!--            Read More-->
<!--            <span>&#8594;</span>-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <v-card elevation="1" otlined class="px-6">
    <v-card-title align="center">
      {{ article.title }}
    </v-card-title>
    <v-card-text>
      <v-row>
        <nuxt-content :document="{ body: article.excerpt }" />...
      </v-row>
      <v-row>
        <v-chip-group column>
          <v-chip v-for="(tag, index) of article.tags" :key="index">
            {{ tag }}
          </v-chip>
        </v-chip-group>
      </v-row>
    </v-card-text>
    <v-card-actions>
      <a class="read-more is-text" :href="article.slug">
        Read More
        <span>&#8594;</span>
      </a>
    </v-card-actions>
  </v-card>
</template>
<script lang="ts">
import Vue from 'vue'
import { Component, Prop } from 'nuxt-property-decorator'
import { format } from 'date-fns'
import { Article } from '~/lib/types'

@Component({
  methods: {
    format,
  },
})
export default class ArticleCard extends Vue {
  @Prop({})
  article: Article
}
</script>
<style lang="scss" scoped>
/*div.card {*/
/*  .card-content {*/
/*    .article-summary {*/
/*      .image {*/
/*        margin: 0 auto;*/
/*      }*/
/*    }*/
/*    .article-content {*/
/*      text-overflow: ellipsis;*/
/*      pointer-events: none;*/
/*    }*/
/*  }*/
/*}*/
</style>
