<template>
  <v-app id="blog">
    <v-app-bar app>
      <v-app-bar-nav-icon></v-app-bar-nav-icon>
      <v-toolbar-title>Welcome To My Blog</v-toolbar-title>
      <v-spacer></v-spacer>

      <v-btn icon>
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <Nuxt />
    </v-main>

    <v-footer>
      <v-col cols="12" align="center">Copyright (c) &copy; 2021</v-col>
    </v-footer>
  </v-app>
</template>

<style lang="scss" scoped>
/*@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');*/
/*body {*/
/*  font-family: 'Raleway', sans-serif;*/
/*  background-color: #d8d0d0;*/
/*}*/
/*.container {*/
/*  .divider {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    hr {*/
/*      width: 70%;*/
/*      background-color: black;*/
/*    }*/
/*  }*/
/*  .navbar {*/
/*    justify-content: center;*/
/*    background-color: transparent;*/
/*    font-size: 90px;*/
/*    font-weight: bolder;*/
/*  }*/

/*  .main-body {*/
/*    .columns {*/
/*      div {*/
/*        row-gap: 3px;*/
/*      }*/
/*    }*/
/*  }*/
/*  .footer {*/
/*    font-size: 1.5625rem;*/
/*    font-weight: bolder;*/
/*    background-color: transparent;*/
/*  }*/
/*}*/
</style>
