<template>
  <v-container fluid>
    <article-view :article="article" />
  </v-container>

</template>
<script lang="ts">
import Vue from 'vue'
import { Component } from '~/node_modules/nuxt-property-decorator'
import { Article } from '~/lib/types'
import ArticleView from '~/components/ArticleView.vue'

@Component({
  components: { ArticleView },
})
export default class ArticlePage extends Vue {
  // layout() {
  //   return 'article'
  // }

  async asyncData({ $content, params }) {
    const article: Article = await $content('articles', params.slug).fetch()
    return {
      article,
    }
  }
}
</script>
