<template>
  <v-container fluid>
    <v-row>
      <div v-for="(article, index) of articles" :key="index" class="column">
        <article-card :article="article" />
      </div>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component } from 'nuxt-property-decorator'
import ArticleCard from '~/components/ArticleCard.vue'

@Component({
  components: { ArticleCard },
})
export default class HomePage extends Vue {
  async asyncData({ $content }) {
    const articles = await $content('articles').fetch()
    return {
      articles,
    }
  }

}
</script>

